/* Your custom css code goes here */
  div.mainheader {
      display: flex;
      flex-direction: column;
  }
 
 div.left {
  padding: 20px;
  
 }
  
 div.right {
  position: -webkit-sticky;  
  position: sticky;
  top: 0;
  right: 50px;

  } 
 
 footer{
    margin-top: auto;
}
